
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    scroll-behavior: smooth;
}

/* Upper */
.navbar {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(banner.jpg);
    background-size:contain;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 62px 15px;
    z-index: 1000;
    transition: all 2s;
    animation: fadeIn 3s ease-out;
    
   
   
}
.navbar:hover{
    background-image: url(vitalityy.gif);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateY(-5px);
    }
}


.section {
    text-align: center;
   
     }
     
     
.section p{
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    transition: transform 0.3s ease-in-out;
   

}


.section h1:hover{
    transform: scale(1.1);
}


.section p:hover{
    transform: scale(3);
    color: orangered;
   
}

.section img {
    text-align: center;
    height: 400px;
    transition: transform 1s ease-in-out;
    margin-bottom: -20px;
    margin-top: 30px;
    align-content: center;
 
}

.section img:hover {
    transform: scale(1.1);
}

.icon {
    margin-left: 20px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    border-radius: 10%;
    padding: 5px;
    background-image: url(Josh.png);
    transition: transform 0.3s ease-in-out;
    
}

.links {
    list-style: none;
    display: flex;
    margin-top: 20px;
    margin-right: 10px;
}

.links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    border-radius: 10%;
    background-color: orange;
    padding: 8%;
  
}

.links li {
    margin: 0px 15px;
   
}

.links a:hover, .icon:hover  {
    transform: scale(1.1);
    color: blue;
 
}


